@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=95578A10-0D61-4EA5-9F23-DA8370789678
@securityscorecard:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=d2644ba81ed710c03addf9ebab073fe6f43ea1d7